extends layout

    block contenu-accueil.pug

    div.container

        div.row

            div.col-md-12.col-sm-12.page-header

                h1.text-info.text-center Un site vraiment trop beau

                div.row

                    div.col-md12.col-sm-12
